<div class="sidebar-bio">
    <img src="Materials/head.jpg" class="profile-img" alt="Lin Jiu">
    <h1 class="sidebar-name">JIU, Lin （&#x9152 &#x9716）</h1>
    
    <p class="sidebar-title">
        Assistant Professor of Mathematics<br>
        <a href="https://dukekunshan.edu.cn" target="_blank">Duke Kunshan University (DKU)</a>
    </p>
    
    <p class="sidebar-title">
        Adjunct of the Faculty of Graduate Studies<br>
        <a href="https://dal.ca" target="_blank">Dalhousie University (Dal)</a>
    </p>

    <p class="sidebar-loc">📍 Halifax, NS (Visiting Dalhousie until July 2026)</p>
</div>

<nav id="menu">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="research.html">Research</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="talks.html">Talks</a></li>
        <li><a href="package.html">Software</a></li>
        <li><a href="Materials/CV.pdf" target="_blank">CV (PDF)</a></li>
    </ul>
</nav>